.cart {
    font-family: 'Roboto Flex', sans-serif;
}

.cartPadreDetalle {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.detalleTitulo {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    margin: 2rem;
    padding: 1rem;
    letter-spacing: 5px;
    color: #484d41;
}

.detalleTotal {
    text-align: center;
    margin: 15px 0 40px 0;
    padding: 10px 0 10px;
}

.btnVaciar {
    background: rgb(141,164,172);
    background: radial-gradient(circle, rgba(141,164,172,1) 0%, rgba(89,134,134,1) 100%);
    color: #272a2a;
    margin: 15px;
    padding: 3px 20px 3px 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 6px;
}

.btnVaciar:hover {
    background: rgb(141,164,172);
    background: radial-gradient(circle, rgba(89,134,134,1) 0%, rgba(141,164,172,1) 100%);
    color: #1f2222;
}

.btnFinCompra {
    background: rgb(141,164,172);
    background: radial-gradient(circle, rgba(141,164,172,1) 0%, rgba(89,134,134,1) 100%);
    color: #272a2a;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #272a2a;
    border-radius: 6px;
    padding: 7px 15px 7px 15px;
}

.btnFinCompra:hover {
    background: rgb(141,164,172);
    background: radial-gradient(circle, rgba(89,134,134,1) 0%, rgba(141,164,172,1) 100%);
    color: #1f2222;
}

.sinProductos {
    font-family: 'Roboto Flex', sans-serif;
    text-align: center;
    margin: 3rem;
    padding: 2rem;
}

.sinProductos h2{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #484d41;
}

.sinProductos p {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
}

.boxSeguir {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERY MOVIL */
@media screen and (max-width: 767px) {
    .detalleTitulo {
        font-size: 40px;
    }
}