.estiloTexto {
    text-align: center;
    font-size: 80px;
    margin: 25px;
    padding: 15px;
    font-family: 'Gruppo', sans-serif;
    
}

.estiloLista {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.estiloLista li {
    display: inline-block;
}

.estiloLink {
    font-family: 'Gruppo', sans-serif;
    /* font-family: 'Montserrat Alternates', sans-serif; */
    font-size: 25px;
    text-transform: uppercase;
    list-style-type: none;
    color: black;
}