.estiloImg {
    padding: 10px;
}

.boxProducto {
    margin: 15px;
    padding: 10px 2px 15px 2px;
}

.boxColor {
    width: 18rem;
    height: 36rem;
    box-shadow: 10px 10px 20px #000000;
    background: radial-gradient(circle,
            rgba(250, 251, 250, 1) 0%,
            rgba(111, 141, 140, 1) 100%);
    transition: all 1s;
}

.boxColor:hover {
    transform: scale(1.1);
}

.estiloProd {
    font-family: "Roboto Flex", sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 25px;
    padding: 15px;
}

.btnDetalle {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.boxDetalle {
    padding-bottom: 4px;
    border-radius: 10px;
    background: radial-gradient(circle,
            rgba(250, 251, 250, 1) 0%,
            rgba(58, 100, 100, 1) 100%);
    box-shadow: 1px 1px 10px #000000;
}

.boxDetalle:hover {
    background: radial-gradient(circle,
            rgba(58, 100, 100, 1) 0%,
            rgba(111, 141, 140, 1) 35%,
            rgba(250, 251, 250, 1) 100%);
}