.checkoutSection {
    font-family: 'Roboto Flex', sans-serif;
}

.checkoutSection h2 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin: 25px;
    padding: 10px;
}

.boxForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkoutBoxProductos {
    width: 50rem;
    text-align: center;
    box-shadow: 9px 8px 15px #4c4c4c;
    background-color: #e3e7e8;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}
.checkoutBoxProductos h3 {
    margin: 10px;

}

.mostrarProducto {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.mostrarProducto p {
    font-size: 18px;
    color: black;
    margin-right: 35px;
}

.boxFormularioCompra {
    background-color: #e3e7e8;
    border-radius: 5px;
    margin: 3rem;
    padding: 3rem;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 8px 8px 20px #6b6a6a;
}

.boxFormularioCompra h3 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

.boxFormularioCompra label {
    margin: 10px;
    padding: 7px;
    font-size: 20px;
}

.boxFormularioCompra input {
    width: 100%;
}

.btnFinalizarCompra {
    background: rgb(141,164,172);
    background: radial-gradient(circle, rgba(141,164,172,1) 0%, rgba(89,134,134,1) 100%);
    color: #272a2a;
    border-radius: 6px;
    margin: 30px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.btnFinalizarCompra:hover {
    background: rgb(141,164,172);
    background: radial-gradient(circle, rgba(89,134,134,1) 0%, rgba(141,164,172,1) 100%);
    color: #1f2222;
}

.compraExitosa {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px;
}

.btnSeguir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}
.btnSeguirComprando {
    background: rgb(141,164,172);
    background: radial-gradient(circle, rgba(141,164,172,1) 0%, rgba(89,134,134,1) 100%);
    color: #272a2a;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #272a2a;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px;
}

.btnSeguirComprando:hover {
    background: rgb(141,164,172);
    background: radial-gradient(circle, rgba(89,134,134,1) 0%, rgba(141,164,172,1) 100%);
    color: #1f2222;
}

