.colorNav {
    background-color: #a2b8b7;
    box-shadow: 1px 1px 15px #000000;
}

.estiloNavText {
    font-family: "Gruppo", sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 25px;
    padding-left: 15px;
    padding-right: 20px;
    transition: 1s all;
}

.estiloNavText:hover {
    transform: scale(1.1);
    text-shadow: 1px 1px 8px #091518;
}

.logoNav {
    width: 140px;
}