.sectionContacto {
    font-family: "Roboto Flex", sans-serif;
}

.estiloContacto h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 30px;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #484d41;
}

.formContacto {
    margin: 30px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.estiloFormularioContacto {
    border-radius: 5px;
    box-shadow: 9px 9px 20px #393939;
    background-color: #b4cbca;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
}

.estiloFormularioContacto div {
    margin: 5px;
    padding: 5px;
}

.estiloFormularioContacto label {
    font-size: 18px;
    padding: 5px;
}

.estiloFormularioContacto input {
    width: 100%;
    padding: 5px;
}

.textoContacto {
    display: flex;
    flex-direction: column;
}

.btnEnviarMsj {
    background: rgb(141, 164, 172);
    background: radial-gradient(circle,
            rgba(141, 164, 172, 1) 0%,
            rgba(89, 134, 134, 1) 100%);
    color: #272a2a;
    margin: 10px;
    padding: 0 18px 0 18px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}

.btnEnviarMsj:hover {
    background: rgb(141, 164, 172);
    background: radial-gradient(circle,
            rgba(89, 134, 134, 1) 0%,
            rgba(141, 164, 172, 1) 100%);
    color: #1f2222;
}